/* CUSTOM PROPERTY */

:root {
  /* Colors */
  --red-orange-color-wheel: hsl(17, 96%, 48%);
  --middle-blue-green: hsl(167, 45%, 72%);
  --smokey-black: hsl(0, 0%, 7%);
  --spanish-gray: hsl(0, 0%, 60%);
  --granite-gray: hsl(0, 0%, 40%);
  --tan-crayola: hsl(27, 46%, 58%);
  --light-gray: hsl(0, 0%, 80%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_25: hsla(0, 0%, 0%, 0.25);
  --black_50: hsla(0, 0%, 0%, 0.4);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --cultured: hsl(220, 16%, 96%);
  --manatee: hsl(218, 11%, 65%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}
